*{
  box-sizing: border-box;
}
/*font*/
@font-face {
  font-family: "pixel";
  src: url(../fonts/LLPIXEL3.ttf);
}
:root{
 --bleu: #3a4e7a;
--bleufonce:#091d36;
--grisblanc: #f1f1f0;
--bleuclair: #5e83ba;
--gris:#c2d2e9;
--jaune:#ffbf21;
}

html, body {
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
  }
  /* box du jeu ne jamais changer*/
  body>canvas:first-of-type {
  position: absolute;
  z-index: 9999;
  width: 900px; 
  left: 26%;
  top: 20%;
  }

/* background*/
  #defaultCanvas0{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
  }

  /*Barre de navigation*/
 
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.311);
  
  }
  header .nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap-nav .menu > div{
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
 
}
.menu-wrap-nav .menu > div >div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0; 
  transition: opacity 0.4s ease;
}
.menu-wrap-nav .menu > div > div > ul > li {
  list-style: none;
  color: var(--bleuclair);
  font-family: 'pixel';
  font-size: 3rem;
  padding: 1rem;
}
.menu-wrap-nav .menu > div > div > ul > li:hover {
transform: scale(1.2);
cursor: pointer;
color: var(--jaune);
}
.menu-wrap-nav .menu >div > div > ul > li > a{
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}



/* header */
.header{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  }
  .nav div{
    width: 100%;
  }
.nav a{
  text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
  color: var(--grisblanc);
  font-family: "pixel";
  font-size: 29px;

}



