*{
  box-sizing: border-box;
}
/*font*/
@font-face {
  font-family: "pixel";
  src: url(../fonts/LLPIXEL3.ttf);
}
:root{
 --bleu: #3a4e7a;
--bleufonce:#091d36;
--grisblanc: #f1f1f0;
--bleuclair: #5e83ba;
--gris:#c2d2e9;
--jaune:rgb(255, 191, 33);
--overlay-color: rgba(24,39,51,0.85);
    --menu-speed: 0.75s;
}

html, body {
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
  }
  /* box du jeu ne jamais changer*/
  body>canvas:first-of-type {
  position: absolute;
  z-index: 800;
  width: 900px; 
  left: 26%;
  top: 20%;
  }

/* background*/
  #defaultCanvas0{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
  }

  /*Barre de navigation*/
 


  .btn{
    display: inline-block;
      padding-right: 1rem;
      text-decoration: none;
      color:#FFA101;
      ;
}
.menu-wrap-nav{
  position: absolute;
  top: 43px;
  left: 95%;
  font-family: 'pixel';
  z-index: 855;
}
.menu-wrap-nav .toggler{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 850;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap-nav .hamburger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 805;
  width: 72px;
  height: 84px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger line */
.menu-wrap-nav .hamburger >div {
  position: relative;
  width: 100%;
  height: 3%;
  background-color:var(--bleufonce);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap-nav .hamburger > div:before,
.menu-wrap-nav .hamburger > div:after{
  content: '';
  position: absolute;
  z-index: 805;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves line down */
.menu-wrap-nav .hamburger > div:after{
  top: 10px;
}
/* Toggler animate */
.menu-wrap-nav .toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap-nav .toggler:checked + .hamburger > div:before,
.menu-wrap-nav .toggler:checked + .hamburger > div:after{
  top: 0;
  transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap-nav .toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}
/* Show menu */
.menu-wrap-nav .toggler:checked ~ .menu{
  visibility: visible;
   animation: 1.2s slide-left;
    }
  
@keyframes slide-left {
      from {
        margin-left: 100%;
      }
      to {
        margin-left: 0%;
      }
    }


.menu-wrap-nav .toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap-nav .menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap-nav .menu > div{
  background-color: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
 
}
.menu-wrap-nav .menu > div >div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0; 
  transition: opacity 0.4s ease;
}
.menu-wrap-nav .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-family: 'pixel';
  font-size: 3rem;
  padding: 1rem;
}
.menu-wrap-nav .menu > div > div > ul > li:hover {
transform: scale(1.2);
cursor: pointer;
color: #FFA101;
}
.menu-wrap-nav .menu >div > div > ul > li > a{
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}




/* header */
.header{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}
.logo_header{

  position: relative;
  width: 10%;
  height: 112px;
  padding: 20px;
  margin-left: 35px;
z-index: 850 ;

}

.img_logo{
  width: 100%;
  height: 100%;
  
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 627px;

}

