/* -----------------Inscription ------------------------*/

:root{
  --bleu: #3a4e7a;
 --bleufonce:#091d36;
 --grisblanc: #f1f1f0;
 --bleuclair: #5e83ba;
 --gris:#c2d2e9;
 --jaune:rgb(255, 191, 33);
 --overlay-color: rgba(24,39,51,0.85);
     --menu-speed: 0.75s;
 }


@font-face {
    font-family: "pixel";
    src: url('../fonts/LLPIXEL3.ttf');
  }
  @font-face {
    font-family: "04b";
    src: url("../fonts/04B_30__.TTF");
  }
  @font-face {
    font-family: "rainyhearts";
    src: url("../fonts/rainyhearts.ttf");
  }
  @font-face {
    font-family: "Mario-Kart-DS";
    src: url("../fonts/Mario-Kart-DS.ttf");
  }

  .login-box {
    font-family: "Mario-Kart-DS";
    position: absolute;
    color: #ffbf21;
    z-index: 850;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  

  .login-box .user-box {
    font-family: "rainyhearts";
    position: relative;
    font-weight: bold;
    font-size: 1.8rem;

   
    
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    font-family: '04b';
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  } 
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    margin-left:64%;
  }
  
  .login-box a:hover {
    background: #dcb8d5;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #6d3c62,
                0 0 25px #6d3c62,
                0 0 50px #6d3c62,
                0 0 100px #6d3c62;
  }
  
  .login-box a span.ligne {
    position: absolute;
    display: block;
  }
  
  .login-box a span.ligne:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffa99d);
    animation: btn-anim1 1s linear infinite;
  }
  
  .login-box a span.ligne:nth-child(2) {
    
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffa99d);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span.ligne:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffa99d);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span.ligne:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffa99d);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  div.titre {
    font-family: "04b";
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 2rem;
  }
  
  span.letter {
    display:inline-block;
    padding:0;
    margin: 0 -20px 0 -4px;
    user-select: none !important;
    transition:0.3s;
  }
  
  span.space {
    padding: 0 5px !important;
    margin:0 1px;
  }
  
  span.letter:nth-child(even):hover {
    filter: blur(10px);
    transform: rotate(90deg);
   
  }
  
  span.letter:nth-child(odd):hover {
    filter: blur(10px);
    transform: rotate(-90deg);
  }

 /* ------------------------------Bouton-------------- */
 #btn-valid{

  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #ffa99d;
  border-radius: none;
  font-size: 1rem;
  text-transform: uppercase;
  /* font-family: "pixel"; */

}

#btn-valid:hover{
  border: none;
  border-radius: none;
  background-color: rgba(255, 255, 255, 0);
  color: #6d3c62;
  /* font-family: "pixel"; */

}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

